html, body {
font-family: "PT Sans Narrow", Arial, sans-serif;
font-weight: bold;
font-size: 14px;
line-height: 24px;
color: black;
}

h1 {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #696969;

}

h2 {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
    line-height: 48px;
    color: #696969;
}

h3 {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #000000;

}