html, body {
font-family: "PT Sans Narrow", Arial, sans-serif;
font-weight: bold;
font-size: 14pt;
line-height: 24pt;
color: black;
}

h1 {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 40pt;
    line-height: 40pt;
    color: #696969;

}

h2 {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 36pt;
    line-height: 48pt;
    color: #696969;
}

h3 {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 30pt;
    line-height: 42pt;
    color: #000000;

}